* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    font-family: $fontFamily;
  }

  .container {
      margin: 0 auto;
      width: 70%;
  }

  ul li{
      list-style: none;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    color: white;
    margin: 10px 0;
  }